[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = http://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "json"]
	path = json
	url = http://github.com/nlohmann/json.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
